@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600;700&display=swap");

body {
  font-family: "Inter", sans-serif;
}

.bg-gradient-to-br {
  background: linear-gradient(to bottom right, #ffffff, #f0f0f0);
}

.shadow-lg {
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
}
